<%- include("partials/header") %>
<%- include("partials/nav-bar") %>

<div class="expertpage_layout">
    <div class="ticket_list">
        <div class="ticket_list_info_space">
            <!-- Hier komt een lijst met de tickets -->
            <div class="ticket_list_info_list_container">
                <% for(var i=0; i<data.length; i++) {%>
                <div class="ticket_list_info_list_item" id="<%= data[i]._id %>">
                    <h4 class="ticket_list_item_channel"><%= data[i].channelTitle%></h4>
                    <h4 class="ticket_list_item_video"><%= data[i].videoTitle%></h4>
                </div>
                <% } %>
            </div>
        </div>
        <div class="ticket_list_button_space">
            <button class="ticket_list_button_left"></button>
            <button class="ticket_list_button_mid"></button>
            <button class="ticket_list_button_right"></button>
        </div>
    </div>
    <div class="scrollspace">
        <div class="ticket_info">
            <div class="ticket_info_info_space">
                <!-- Hier komt een frame met de info over de geselecteerde ticket -->
                <h3 class="ticket_info_channel_title">Channel: <span><%= data[0].channelTitle%></span></h3>
                <h3 class="ticket_info_video_title">Video: <span><%= data[0].videoTitle%></span></h3>
                <p class="ticket_info_views">Views: <span><%= data[0].viewCount%></span></p>
                <p class="ticket_info_description">Video Description: <span>
                        <%= data[0].videoDescription%> </span>
                </p>

            </div>
            <div class="ticket_info_button_space">
                <!-- Hier komen een aantal buttons (met bijvoorbeeld links naar de video) -->
                <a href="https://www.youtube.com/watch?v=<%# VIDEO ID %>"><button>Go to video</button></a>
                <button>Button 2</button>
                <button>Button 3</button>
            </div>
        </div>
        <div class="ticket_send_options">
            <div class="ticket_send_info_space">
                <form id="trustForm" method="POST" action="/dashboard">
                    <div class="input_box">
                        <input id="first_checkbox" type="radio" name="trustscore" value="trusted">
                        <label for="first_checkbox">Trusted source</label>
                    </div>
                    <div class="input_box">
                        <input id="second_checkbox" type="radio" name="trustscore" value="suspicious">
                        <label for="second_checkbox">Suspicious source</label>
                    </div>
                    <div class="input_box">
                        <input id="third_checkbox" type="hidden" name="dbID" value="">
                    </div>
                </form>
            </div>
            <div class="ticket_send_button_space">
                <button type="submit" form="trustForm">Send</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
// EDITOR ZIET DIT ALS EEN PROBLEEM, MAAR DAT IS HET NIET. OF TOCH WEL?
    const passData = <%- JSON.stringify(data)%>;
</script>
<script type="text/javascript" src="/js/ticket-info.js"></script>
<%- include("partials/footer") %>