<%- include("partials/header") %>
<script>
    
</script>

<div class="expertpage_layout">
    <div class="ticket_list">
        <div class= "ticket_list_info_space">
            <!-- Hier komt een lijst met de tickets -->
            <div class="ticket_list_info_list_container">
                <% for(var i=0; i<data.length; i++) {%>
                    <div class="ticket_list_info_list_item" id="<%= data[i]._id %>">
                        <h4><%= data[i].channelTitle%></h4>
                        <h4><%= data[i].videoTitle%></h4>
                    </div>
                 <% } %>
            </div>
        </div>
        <div class="ticket_list_button_space">
            <h1>Hier komen buttons te staan</h1>
        </div>
    </div>
    <div class="ticket_info">
        <div class= "ticket_info_info_space">
            <!-- Hier komt een frame met de info over de geselecteerde ticket -->
            <h3>Channel: <%= data[0].channelTitle%></h3>
            <h3>Video: <%= data[0].videoTitle%></h3>
            <p>Video Description: <%= data[0].videoDescription%></p>
        </div>
        <div class="ticket_info_button_space">
            <!-- Hier komen een aantal buttons (met bijvoorbeeld links naar de video) -->
            <a href="https://www.youtube.com/watch?v=<%= data[0].videoId%>"><button>Go to video</button></a>
        </div>
    </div>
    <div class="ticket_send_options">
        <div class= "ticket_send_info_space">
            <h1>De opties bij het opslaan</h1>
        </div>
        <div class="ticket_send_button_space">
            <h1>Send</h1>
        </div>
    </div>
</div>

<%- include("partials/footer") %>