<%- include("partials/header") %>
<%- include("partials/nav-bar") %>

<div class="expertpage_layout">

    <%- include("partials/videoInfo/ticketlist", {listItems: data, title: "Tickets", page: "expertpage"}) %>
    
    <%- include("partials/videoInfo/ticket-info", {listItems: data, title: "Information", page: "expertpage", eyeImage: "eye.svg"}) %>

</div>
<script type="text/javascript">
    const passData = <%- JSON.stringify(data)%>;
</script>
<script type="text/javascript" src="/js/ticket-info.js"></script>
<%- include("partials/footer") %>