<%
var myList = {
    good: ["angel 1", "angel 2", "angel 3"],
    bad: ["devil 1", "devil 2", "devil 3"]
}

%>
<%- include("partials/header")%>
<%- include("partials/nav-bar")%>
<div class="tri_panel">
    <div class="left_panel">
        <div class="good_list">

            <%- include("partials/videoInfo/ticketlist", {listItems: channels, title: "Trusted Sources", page: "overview"}) %>

        </div>

        <div class="hidden_div_temp_container">
            <div class="hidden_div_temp">

                <%- include("partials/videoInfo/ticket-info", {listItems: channels, title: "Information", page: "overview", eyeImage: "/eye.svg"})  %>  

            </div>
        </div>        
    </div>

    <div class="middle_panel">
        <canvas id="janus_canvas" width="400"></canvas>
    </div>

    <div class="right_panel">
        <div class="bad_list">
            
            <%- include("partials/videoInfo/ticketlist", {listItems: channels, title: "Suspicious Sources", page: "overview"}) %>
            
        </div>

        <div class="hidden_div_temp_container">
            <div class="hidden_div_temp">

                <%- include("partials/videoInfo/ticket-info", {listItems: channels, title: "Information", page: "overview", eyeImage: "/eye_black.svg"})  %> 

            </div>  
        </div>
    </div>
</div>


<script type="text/javascript">
    const passData = <%- JSON.stringify(channels)%>;
</script>
<script type="text/javascript" src="/js/ticket-info.js"></script>


<script>

var c = document.getElementById("janus_canvas");
var ctx = c.getContext("2d");
window.onresize=resizeCanvas;

function resizeCanvas(){
    c.height = window.innerHeight - 56;
    drawJanus(window.innerHeight-56); 
}

function drawJanus(myHeight){
    ctx = c.getContext("2d");
    var halfPoint = myHeight/2;

    ctx.beginPath();
    ctx.moveTo(200, 0);
    ctx.quadraticCurveTo(100,(halfPoint/2),200,halfPoint);
    ctx.quadraticCurveTo(300,(myHeight-(halfPoint/2)),200,myHeight);
    ctx.lineTo(0, myHeight);
    ctx.lineTo(0,0);
    ctx.closePath();
    ctx.fillStyle = "#1e1e1e";
    ctx.fill();
}

resizeCanvas();
</script>
<script>
    var triPanel = document.querySelector(".tri_panel");
    var hiddenLeftContainer = document.querySelector(".left_panel .hidden_div_temp_container");
    var hiddenRightContainer = document.querySelector(".right_panel .hidden_div_temp_container");
    var hiddenLeft = document.querySelector(".left_panel .hidden_div_temp");
    var hiddenRight = document.querySelector(".right_panel .hidden_div_temp");
    triPanel.addEventListener("click", changeSide, false);
    var stateCounter = 1;
    var stateCounterPlus = true;

    function changeSide(){ 
        if(stateCounter < 2 && stateCounterPlus === true){
            stateCounter++;
        }
        else if (stateCounter > 0 && stateCounterPlus === false){
            stateCounter--;
        }

        else if (stateCounter <= 0){
            stateCounter = 0;
            stateCounterPlus = true;
            stateCounter++
        }

        else if (stateCounter => 2){
            stateCounter = 2;
            stateCounterPlus = false;
            stateCounter --;
        }

        else{
            return console.log("something went wrong");
        }

        setSliderClass();
    }

    function setSliderClass(){
        switch(stateCounter){
            case 0:
                console.log("dit is 0");
                triPanel.className = "tri_panel_left";
                hiddenLeft.className = "hidden_div_temp";
                hiddenLeftContainer.className = "hidden_div_temp_container";
                hiddenRightContainer.className = "not_so_hidden_div_temp_container";
                hiddenRight.className = "not_so_hidden_div_temp";
                break;
            case 1:
                console.log("dit is 1");
                triPanel.className = "tri_panel";
                hiddenLeft.className = "hidden_div_temp";
                hiddenRight.className = "hidden_div_temp";
                hiddenLeftContainer.className = "hidden_div_temp_container";
                hiddenRightContainer.className = "hidden_div_temp_container";
                break;
            case 2:
                console.log("dit is 2");
                triPanel.className = "tri_panel_right";
                hiddenLeft.className = "not_so_hidden_div_temp";
                hiddenRight.className = "hidden_div_temp";
                hiddenLeftContainer.className = "not_so_hidden_div_temp_container";
                hiddenRightContainer.className = "hidden_div_temp_container";
                break;
        }
    }

</script>

<%- include("partials/footer")%>